@media screen and (min-width: 750px){
  .footer {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edf3f6;
}}

@media screen and (max-width: 768px) {
  .footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #edf3f6;
    /* position: relative;
    bottom: -40px; */
  }

  .footer h3{
    font-size: 15px;
    padding: 10px 20px;
    text-align: center;
  }

  .footer p{
    font-size: 11px;
  }
}

